@model MobСardNews.Models.News
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
        <h4>News</h4>
        <hr />
        <dl class="dl-horizontal">
                <dt>
                        @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                        @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>s
                        @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                        @Html.DisplayNameFor(model => model.Tag)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.Tag)
                </dd>

                <dt>
                        @Html.DisplayNameFor(model => model.Game)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.Game)
                </dd>

        </dl>
</div>

<di>
        @if (User.Identity.IsAuthenticated)
        {
                if (Model.Comments != null)
                {
                        foreach (var item in Model.Comments)
                        {
                                <table>
                                        <tr>
                                                <td>
                                                        <a>@item.Text</a>
                                                        <a>@item.ApplicationUser.UserName</a>
                                                </td>

                                        </tr>
                                </table>
                        }
                }
                using (Ajax.BeginForm("AddComment", "Home", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" }))
                {
                        var comment = "";
                @Html.ValidationSummary(true, "", new { @class = "text-danger" });
                <div class="form-horizontal">
                        <div class="form-group">
                                @Html.LabelFor(x => comment, "Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                        @Html.EditorFor(x => comment, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(x => comment, "", new { @class = "text-danger" })
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                        <input style="background-color:#222222;border-color:#222222;color:darkgrey" type="submit" value="Отправить" class="btn btn-primary" />
                                </div>
                        </div>
                </div>
                }
        }
        @*     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")*@
</di>
