@model MobСardNews.Models.News
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
        <h4>News</h4>
        <hr />
        <dl class="dl-horizontal">
                <dt>
                        @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                        @Html.DisplayNameFor(model => model.tag)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.tag)
                </dd>

                <dt>
                        @Html.DisplayNameFor(model => model.Game)
                </dt>

                <dd>
                        @Html.DisplayFor(model => model.Game)
                </dd>

        </dl>
</div>

<di>    
        @if (User.Identity.IsAuthenticated)
        {
                if(Model.Comments != null)
                {
                        foreach (var item in Model.Comments)
                        {
                        <a>@item.Text</a>
                        <a>@item.ApplicationUser.UserName</a>
                        }
                }
               
                using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
                {
                <input type="hidden" value="" name="сomment" />
                @Html.TextBox("Text", "Введите комментарий");
                <p><input type="submit" value="Отправить"></p>
                }
        }

   @*     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")*@
</di>
